.card {
  text-align: center;
  background: rgba(0, 0, 0, 0.26);

  width: 170px;

  gap: 10px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Gryffindor {
  border: 2px outset darkred;
  color: rgb(240, 38, 38);
}
.Slytherin {
  border: 2px outset darkgreen;
  color: rgb(43, 230, 43);
}
.Ravenclaw {
  border: 2px outset darkblue;
  color: rgb(58, 58, 255);
}
.Hufflepuff {
  border: 2px outset darkorange;
  color: yellow;
}

.card h1 {
  font-size: 14px;
  color: lightgray;
  padding-top: 5px;
}

.card p {
  border: 0;
  font-size: 12px;
}

.card img {
  width: 130px;
  height: 140px;
  border-radius: 5px;
  border-bottom: none;
}

@media (min-width: 768px) {
  .card {
    width: 300px;
  }

  .card img {
    width: 180px;
    height: 220px;
  }
}
