html,
body,
header,
main,
section,
article,
footer,
div,
span,
figure,
figcaption,
ul,
li,
a,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  list-style: none;
}
