body {
  background: rgb(24, 24, 24);
  padding: 10px;
}

button {
  cursor: pointer;
}

@media (min-width: 500px) {
  body {
    overflow: hidden;
  }

  .App {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }

  .App ul {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
