ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.again {
  position: fixed;
  bottom: 15px;
  right: 2%;
  width: 60px;
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;

  background-color: rgb(59, 59, 59);
  color: silver;
}

@media (min-width: 500px) {
  ul {
    flex-direction: row;
  }

  .again {
    position: initial;
    margin-top: 350px;
  }
  .again:hover {
    transition: 0.5s;
    background-color: rgb(26, 25, 25);
  }
}
