.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

.container h1 {
  color: whitesmoke;
  font-size: 42px;
  font-weight: 600;
}
.container p {
  color: whitesmoke;
  font-size: 22px;
}
.container button {
  border: none;
  margin-top: 10px;
  width: 200px;
  padding: 8px;
  border-radius: 15px;
  font-weight: 600;
  color: rgb(36, 36, 36);
  font-size: 18px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(209, 160, 11, 1) 0%,
    rgba(255, 252, 0, 1) 100%
  );

  box-shadow: 0 0 5px 2px rgb(255 150 4 / 55%);
}

.container button:hover {
  color: rgb(14, 14, 14);

  background-size: 200% 200%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
